@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    color: #fff;
    background: #101010;
    height: auto;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 스크롤바 전체 기본 꾸미기 */
body::-webkit-scrollbar {
	width: calc(100vw * 13 / 1920);
}

/* 스크롤바 막대 꾸미기 */
body::-webkit-scrollbar-thumb {
    height: 4%;
    background-color: #FF1477;
    border-radius: calc(100vw * 50 / 1920);
}

/* 스크롤바 트랙 꾸미기 */
body::-webkit-scrollbar-track {
	background-color: #ffffff15;
}
/*-------------------------- header -----------------------------------------*/
header {
    overflow: hidden;
    position: absolute;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 12%;
    display: flex;
    z-index: 3;
    transition: all .3s;
}
header a{
    width: 16%;
}
header img{
    width: 21%;
    margin: 22% 0 0 52%;
}
nav {
    margin-top: 3.8%;
    width: 84%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 9%;
}

nav ul li {
    margin-left: 5%;
    font-size: calc(100vw * 20 / 1920);
    font-weight: 500;
    color: #fff;
}
nav ul li:hover{
    color: #FF1477;
    transition: all 0.3s ease;
    font-size: calc(100vw * 20 / 1920);
    font-weight: bold;
}

#wrap {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
}

/*-------------------------- section ----------------------------------------*/
#scroll-to-top-button {
    color: #fff;
    background-color: #FF1477;
    position: fixed;
    right: 0;
    margin-right: 7%;
    bottom: calc(100vw * 50 / 1920);
    display: inline-block;
    border: none;
    width: calc(100vw * 70 / 1920);
    height: calc(100vw * 70 / 1920);
    font-size: calc(100vw * 15 / 1920);
    font-weight: 600;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    transition: all 0.5s ease;
}

#scroll-to-top-button:hover {
    color: #000;
    background-color: #00DB4A;}


section {
    /* border: solid 1px red; */
    width: 100%;
    height: auto;
}

.sbold{
    font-weight: 600;
}
.light{
    font-weight: 100;
}

.highlight {
    background: linear-gradient(to top, #00db4979 50%, transparent 40%);
}

#main{
    width: 100%;
    height: calc(100vw * 1080 / 1920);
    text-align: center;
    overflow: hidden;
    background-image: url(/img/mainbg.gif);
    background-repeat: no-repeat;
    background-size: cover
}
#m-1{
    display: block;
    width: 46%;
    margin: 13% auto 0 auto;
}
#main h2{
    margin-top: 2%;
    font-size: calc(100vw * 37 / 1920);
    color: #fff;
}
#shake{
    color: #00DB4A;
}
.bounce{
    display: inline-block;
    animation: 3.1s bounce running infinite alternate var(--delay);
}
@keyframes bounce {
    0% {
      transform: translateY(0em);
      animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
    }
    5% {
      transform: translateY(-0.5em);
      animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
    }
    10% {
      transform: translateY(0em);
      animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
    }
    15% {
      transform: translateY(-0.1em);
      animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
    }
    20%,
    100% {
      transform: translateY(0em);
      animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
    }
  }

#m-2{
    width: 31%;
    margin-top: 3%;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video video {
    width: 100%;
}

/* .dotted-line {
    width: 2px;
    height: 441px;
    position: absolute;
    top: 2950px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(255, 20, 119, 0) 50%, #FF1477 50%);
    background-size: 2px 20px;
} */

#bg{
    position: relative;
    margin-top: 11.5%;
    width: 100%;
    height: calc(100vw * 641 / 1920);
    text-align: center;
}
#bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    background-image: url(./img/designintro.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}
#bg p{
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
    padding-top: 7.9%;
}
#bg h2{
    position: relative;
    color: #fff;
    font-size: calc(100vw * 47 / 1920);
    line-height: 150%;
}
#bgtext1{
    margin-top: 3.6%;
}
#bg-1{
    position: relative;
    padding-top: 11.5%;
    color: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#bg-1>p{
    position: relative;
    padding-top: 7%;
    padding-bottom: 1%;
    text-align: center;
    font-size: calc(100vw * 35 / 1920);
    line-height: 180%;
    box-shadow: 0 0 calc(100vw * 70 / 1920) #101010;
    z-index: 10;
}
#problem{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11.2% 0 10.4% 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
#problem li{
    width: calc(100vw * 424 / 1920);
    height: calc(100vw * 424 / 1920);
}
.p-circle{
    width: 100%;
    height: 100%;
    border: solid calc(100vw * 2 / 1920) #FF1477;
    border-radius: 50%;
    overflow-y: hidden;
    
}
#longdot{
    margin: 0 1.5%;
}
#p2 > p{
    margin-top: 5%;
}
.p-circle div{
    padding-top: 15%;
    height: 18%;
    background-color: #FF1477;
}
.p-circle div p{
    margin-bottom: 0.7%;
    font-size: calc(100vw * 16 / 1920);
}
.p-circle h3{
    font-size: calc(100vw * 29 / 1920);
}
.p-circle>p{
    padding: 8% 0 20% 0;
    font-size: calc(100vw * 19.5 / 1920);
    line-height: 180%;
}

.dashed-line{
    position: relative;
}
.dashed-line span:nth-child(1) {
    position: absolute;
    top: calc(100vw * -220 / 1920);
    left: 49.8%;
    width: 0.5%;
    height: calc(100vw * 100 / 1920);
    background: linear-gradient(to bottom, #101010, transparent);
    z-index: 100;
  }
  .dashed-line span:nth-child(2) {
    position: absolute;
    top: calc(100vw * 30 / 1920);
    left: 49.5%;
    width: 1%;
    height: calc(100vw * 100 / 1920);
    background: linear-gradient(to top, #101010, transparent);
    z-index: 100;
  }

  .dashed-line2{
    position: relative;
}
.dashed-line2 span:nth-child(1) {
    position: absolute;
    top: calc(100vw * 113 / 1920);
    left: 25%;
    width: 50%;
    height: calc(100vw * 100 / 1920);
    background: linear-gradient(to top, #101010, transparent);
    z-index: 100;
  }
  .dashed-line2 span:nth-child(2) {
    position: absolute;
    left: 49.5%;
    width: 1%;
    height: calc(100vw * 70 / 1920);
    background: linear-gradient(to bottom, #101010, transparent);
    z-index: 100;
  }

  .dashed-line2{
    position: relative;
}
.dashed-line3 span:nth-child(1) {
    position: absolute;
    top: 8%;
    left: 49.5%;
    width: 1%;
    height: calc(100vw * 50 / 1920);
    background: linear-gradient(to top, #101010, transparent);
    z-index: 100;
  }
  .dashed-line3 span:nth-child(2) {
    position: absolute;
    top: -8%;
    left: 49.5%;
    width: 1%;
    height: calc(100vw * 50 / 1920);
    background: linear-gradient(to bottom, #101010, transparent);
    z-index: 100;
  }


#bg-1>p::before{
    content: '';
    position: absolute;
    top: -85%;
    left: 50%;
    width: 1%;
    height: 130%;
    border-left: calc(100vw * 2 / 1920) dashed #FF1477;
}
#problem::before{
    content: '';
    position: absolute;
    top: -35%;
    width: 47.5%;
    height: 1%;
    border-top: calc(100vw * 2 / 1920) dashed #FF1477;
}
#longdot::after{
    content: '';
    position: absolute;
    top: -45%;
    width: 10%;
    height: 45%;
    border-left: calc(100vw * 2 / 1920) dashed #FF1477;
}
.shortdot::before{
    content: '';
    position: absolute;
    top: -35%;
    width: 10%;
    height: 35%;
    border-left: calc(100vw * 2 / 1920) dashed #FF1477;
}

#solution::before{
    content: '';
    position: absolute;
    top: -8%;
    width: 1%;
    height: 20%;
    border-left: calc(100vw * 2 / 1920) dashed #FF1477;
}

#solution{
    position: relative;
    width: 60%;
    padding: 16% 20%;
    text-align: center;
}
#solution div:nth-child(1){
    padding: 8% 0 13% 0;
    width: 100%;
    background: #101010;
    border: solid calc(100vw * 1 / 1920) #FF1477;
    box-shadow: 0 0 calc(100vw * 100 / 1920) #ff147683;
    border-radius: calc(100vw * 60 / 1920);
    animation: light 2s linear infinite;
}
@keyframes light {
    0% {
        box-shadow: 0 0 calc(100vw * 100 / 1920) #ff147683;
    }
    50% {
        box-shadow: 0 0 calc(100vw * 100 / 1920) #ff147633;
    }
    100% {
        box-shadow: 0 0 calc(100vw * 100 / 1920) #ff147683;
    }}

#solution p{
    margin-bottom: 6.3%;
    font-size: calc(100vw * 28 / 1920);
    color: #C9C9C9;
}
#solution h3{
    font-size: calc(100vw * 35 / 1920);
    color: #fff;
    line-height: 180%;
}

#servey{
    position: relative;
    padding-left: 10%;
    width: 90%;
    height: calc(100vw * 1080 / 1920);
    overflow: hidden;
}
#serveytext{
    padding: 5.6% 10% 6.1% 0;
}
#serveytext >p{
    margin-bottom: 1.4%;
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#serveytext div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#serveytext div h3{
    font-size: calc(100vw * 35 / 1920);
}
#serveytext div p{
    font-size: calc(100vw * 18 / 1920);
    line-height: 150%;
}

#serveygraph{
    position: absolute;
    left: 10%;
    width: calc(100vw * 2400 / 1920);
    height: calc(100vw * 550 / 1920);
    transition: left 1s ease;
    /* overflow: hidden; */
}
#serveygraph ul{
    display: flex; 
    width: 100%;
    white-space: nowrap;
}
#serveygraph li{
    display: inline-block;
    margin-right: 2%;
    padding: 3% 4% 0 4%;
    width: 24%;
    height: calc(100vw * 500 / 1920);
    background-color: #242424;
    border-radius: calc(100vw * 60 / 1920);
}
#serveygraph p{
    width: 100%;
    font-size: calc(100vw * 22 / 1920);
    line-height: 150%;
}
#serveygraph p span{
    color: #FF1477;
}

#serveygraph li:nth-child(odd) img{
    width: calc(100vw * 450 / 1920);;
}
#graph2 img{
    margin-top: 26%;
    width: calc(100vw * 450 / 1920);;
}
#graph2 div{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    padding: 0%;
    font-size: calc(100vw * 15 / 1920);
}
#graph2 span{
    text-align: center;
    width: 10%;
}
#serveygraph li:nth-child(4){
    padding: 3% 4% 0 3%;
}
#serveygraph li:nth-child(4)>p{
    padding-left: 5%;
}
#graph4{
    margin-top: 10%;
    width: calc(100vw * 497 / 1920);
}
#graph4 p{
    margin-bottom: 3.5%;
    padding: 2.5% 3% 2.5% 5%;
    font-size: calc(100vw * 12.24 / 1920);
    background: #e2e2e2;
    color: #000;
    border-radius: calc(100vw * 60 / 1920);
}

#insight{
    display: flex;
    justify-content: space-between;
    padding: 8% 10%;
    width: 80%;
    height: auto;
}
#insighttext p:nth-child(1){
    margin-bottom: 7%;
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#insighttext h3{
    margin-bottom: 40%;
    font-size: calc(100vw * 35 / 1920);
}
#insighttext p:nth-child(3){
    font-size: calc(100vw * 18 / 1920);
    line-height: 150%;
    margin-top: -15%;
}
#insight div{
    width: auto;
    height: 100%;
}
#insight img{
    margin-top: 3%;
    width: calc(100vw * 487/ 1920);
    right: 0;
    margin-left: calc(100vw * 190 / 1920);
}

#keywords{
    padding: 12% 10% 10% 10%;
    width: 80%;
    height: auto;
}
#keywords >p{
    color: #C9C9C9;
    font-size: calc(100vw * 35 / 1920);
}
#keywords ul{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    width: 100%;
    height: auto;
    text-align: center;
}
#keywords li{
    padding: 4.4% 2.3% 8.2% 2.3%;
    width: 18.4%;
    height: 45%;
    border: solid calc(100vw * 1 / 1920) #00DB4A;
    border-radius: calc(100vw * 300 / 1920);
}
#keywords ul p{
    font-size: calc(100vw * 18 / 1920);
}
#keywords ul h3{
    font-size: calc(100vw * 27 / 1920);
}
#keywords ul p:nth-child(1){
    margin-bottom: 30%;
}
#keywords ul p:nth-child(4){
    margin-top: 30%;
    line-height: 150%;
}
#keywords .gray{
    color: #6A6A6A;
    margin: 8% 0 18.9% 0;
}
#keywords li:nth-child(4){
    /* background: #00db49; */
    padding-bottom: 11.5%;
    background: linear-gradient(-45deg, #14b5ff, rgb(0, 219, 153), #00DB4A, rgb(0, 219, 153), #14b5ff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#keywords li:nth-child(4) h3{
    font-size: calc(100vw * 34 / 1920);
    margin: 20% 0;
}
#keywords li:nth-child(4) p{
    font-size: calc(100vw * 21 / 1920);
    margin-top: 35%;
    line-height: 160%;
}

#goal {
    width: 100%;
    height: auto;
    padding: 10% 0 10% 0;
    text-align: center;
}
#goal div{
    padding-bottom: 8%;
    width: 100%;
    height: 60%;
    background: #FF1477;
    box-shadow: 0 0 calc(100vw * 40 / 1920) #FF1477;
    animation: goallight 2s linear infinite;
}
@keyframes goallight {
    0% {
        box-shadow: 0 0 calc(100vw * 100 / 1920) #FF1477;
    }
    50% {
        box-shadow: 0 0 calc(100vw * 100 / 1920) rgba(255, 20, 118, 0.63);
    }
    100% {
        box-shadow: 0 0 calc(100vw * 100 / 1920) #FF1477;
    }
}

#goal p:nth-child(1) {
    font-size: calc(100vw * 32 / 1920);
    color: #ffffffc8;
    padding-top: 5.1%;
}
#goal h3{
    margin-top: 1.6%;
    font-size: calc(100vw * 40 / 1920);
    line-height: 150%;
}
#goal h3 span{
    display: inline-block;
    animation: .8s shake infinite alternate;
}
@keyframes shake {
    0% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

#goal p:nth-child(3) {
    margin-top: 4.2%;
    font-size: calc(100vw * 24 / 1920);
    line-height: 150%;
}

.persona{
    padding: 9% 10% 9% 10%;
    width: 80%;
    height: auto;
}
#persona-banner ul{
    position: relative;
    height: 100%;
}
#persona-banner li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vw * 288 / 1920);
    transition: all 0.5s ease;
    /* border: solid 1px red; */
    background-repeat: no-repeat;
    background-size: cover;
}
#persona-banner li:hover{
    height: calc(100vw * 576 / 1920);
    transition: all 0.3s ease;
    opacity: 0;
}

#persona-banner li:nth-child(1){
    background-image: url(./img/persona1.png);
}
#persona-banner li:nth-child(2){
    background-image: url(./img/persona2.png);
}
#persona-banner li:nth-child(3){
    background-image: url(./img/persona3.png);
}
#persona-banner li div:nth-child(1){
    margin: 8% 0 7.5% 9%;
}
.personanumber{
    font-size: calc(100vw * 16 / 1920);
}
.personatext{
    font-size: calc(100vw * 24 / 1920);
    margin-top: 1.3%;
}
#persona-banner li div:nth-child(2){
    margin: 7% 0 0 33%;
    font-size: calc(100vw * 26 / 1920);
    line-height: 150%;
}
#persona-banner img{
    width: calc(100vw * 43 / 1920);
    height: calc(100vw * 43 / 1920);
    margin: 8.1% 19.1% 0 0;
}

#persona{
    position: relative;
}
#persona-person{
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    z-index: -1;
}
#persona-person>ul{
    width: 100%;
}
#persona-person>ul>li{
    opacity: 0;
    position: absolute;
    width: 80%;
    height: calc(100vw * 576 / 1920);
    background: #101010;
    background-repeat: no-repeat;
    background-size: cover;
}

#ymj{
    background-image: url(./img/persona1-1.png) !important;
}
#ksj{
    top: calc(100vw * 457 / 1920);
    background-image: url(./img/persona2-1.png) !important;
}
#kar{
    top: calc(100vw * 746 / 1920);
    background-image: url(./img/persona3-1.png) !important;
}
.persona-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(100vw * 80 / 1920) calc(100vw * 100 / 1920) 0 calc(100vw * 530 / 1920);
}
.name h1{
    margin-bottom: calc(100vw * 27 / 1920);
    font-size: calc(100vw * 40 / 1920);
}
.name span{
    margin-left: calc(100vw * 7 / 1920);
    font-size: calc(100vw * 25 / 1920);
    color: #cdcdcd;
}
.name ul{
    width: calc(100vw * 250 / 1920);
}
.name li{
    display: inline-block;
    margin: calc(100vw * 5 / 1920);
    padding: calc(100vw * 10 / 1920) calc(100vw * 16 / 1920);
    font-size: calc(100vw * 20 / 1920);
    border: solid calc(100vw * 1 / 1920) #fff;
    border-radius: calc(100vw * 30 / 1920);
}
.persona-text>h1{
    margin-right: calc(100vw * 140 / 1920);
    font-size: calc(100vw * 32 / 1920);
    line-height: 150%;
}
#persona-person p:nth-of-type(1){
    margin-top: calc(100vw * 50 / 1920);
}
#persona-person p:nth-of-type(2){
    margin-top: calc(100vw * 30 / 1920);
}
#persona-person p{
    padding-left: calc(100vw * 530 / 1920);
    font-size: calc(100vw * 20 / 1920);
    color: #c9c9c9;
    line-height: 150%;
}
#persona-person p>span{
    color: #F57D9C;
}

#value{
    padding: 9% 10% 2.9% 10%;
    width: 80%;
    height: auto;
}
#valuetext p{
    margin-bottom: 3.5%;
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#valuetext h3{
    margin-bottom: 7.2%;
    font-size: calc(100vw * 35 / 1920);
}
#service{
    display: flex;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}
.valuebox{
    width: 32%;
    border: solid calc(100vw * 2 / 1920) #FF1477;
    border-radius: calc(100vw * 70 / 1920);
    overflow: hidden;
}
.valuebox div{
    padding: 5% 0 3.5% 0;
    height: 35%;
    background-color: #FF1477;
}
.valuebox div p{
    font-size: calc(100vw * 19 / 1920);
    margin-bottom: 2.1%;
}
.valuebox h3{
    font-size: calc(100vw * 28 / 1920);
    line-height: 150%;
}
.valuebox >p{
    padding: 10% 0 12% 0;
    height: 60%;
    font-size: calc(100vw * 19 / 1920);
    line-height: 150%;
}
#value3>p{
    padding-top: 8%;
}

#appintro{
    display: flex;
    margin: 12.8% 0 6.4% 0;
    width: 100%;
    height: calc(100vw * 716 / 1920);
    background-image: url(./img/appintro.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#appintro img{
    margin: calc(100vw * 56 / 1920) 0 0 calc(100vw * 181 / 1920);
    width: calc(100vw * 701 / 1920);
    height: calc(100vw * 1388 / 1920);
    animation: slogan 1s ease infinite alternate;
}
@keyframes slogan {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2%);
    }
}
#appintro h2{
    padding: 15.1% 0 12.9% 3.5%;
    font-size: calc(100vw * 48 / 1920);
    line-height: 150%;
}

#s4tt{
    position: relative;
    margin-bottom: 6.3%;
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url(./img/testbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#s4tt h3{
    padding-top: 9.3%;
    font-size: calc(100vw * 30 / 1920);
    line-height: 150%;
}
#s4tt p{
    margin-bottom: -3%;
    padding-top: 1.3%;
    font-size: calc(100vw * 20 / 1920);
    line-height: 150%;
}
#s4tt h4 {
    color: #00DB4A;
    position: absolute;
    right: 0;
    text-align: left;
    font-size: calc(100vw * 16/1920);
    margin-top: -25%;
    line-height: 139.5%;
    margin-right: calc(100vw * 553/ 1920);
}
#s4tt img{
    position: absolute;
    width: calc(100vw * 323.5 / 1920); 
    height: calc(100vw * 640 / 1920);

    top: 35%;
    left: 41.5%;
}
#s4tt iframe{
    border-radius: calc(100vw * 60 / 1920);
    width: calc(100vw * 414 / 1920); 
    height:calc(100vw * 870 / 1920);
    overflow: hidden;

    -moz-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7); 
    -o-transform: scale(0.7, 0.7); 
    -ms-transform: scale(0.7, 0.7); 
    transform: scale(0.7, 0.7); 
}

#testresult{
    position: relative;
    width: 100%;
    height: calc(100vw * 1080 / 1920);
    background: #FF1477;
    overflow: hidden;
}
#testresult::after{
    content: '';
    position: absolute;
    top: 73%;
    left: -10.3%;
    width: calc(100vw * 2299 / 1920);
    height: calc(100vw * 2299 / 1920);
    background: #FF5BA0;
    border-radius: 50%;
}
/* #testresult article{
    margin-left: 42%;
    padding-top: 3.3%;
    width: 100%;
    height: 100%;
} */
#testresult article {
    position: relative;
    position: absolute;
    top: 73%;
    left: -10.3%;
    width: calc(100vw * 2299 / 1920);
    height: calc(100vw * 2299 / 1920);
    border-radius: 50%;

    transition: transform 0.5s ease;
}
/* .proBox{
    position:absolute;
    width: calc(100vw * 294.75 / 1920);
    height: calc(100vw * 536.25 / 1920);
    /* width: 18.6%; height: 33.8%; 
} */
.proBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw * 294.75 / 1920);
    height: calc(100vw * 536.25 / 1920);
    transform: translate(-50%, -50%);
}
/* .proBox img{
    position:absolute;
    width:100%;
} */
.proBox img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.proBox:nth-child(1) img{
    transform: rotate(90deg);
}

.proBox:nth-child(2) img{
    transform: rotate(112.5deg);
}

.proBox:nth-child(3) img{
    transform: rotate(135deg);
}

.proBox:nth-child(4) img{
    transform: rotate(157.5deg);
}

.proBox:nth-child(5) img{
    transform: rotate(180deg);
}

.proBox:nth-child(6) img{
    transform: rotate(202.5deg);
}

.proBox:nth-child(7) img{
    transform: rotate(225deg);
}

.proBox:nth-child(8) img{
    transform: rotate(247.5deg);
}

.proBox:nth-child(9) img{
    transform: rotate(270deg);
}

.proBox:nth-child(10) img{
    transform: rotate(292.5deg);
}

.proBox:nth-child(11) img{
    transform: rotate(315deg);
}

.proBox:nth-child(12) img{
    transform: rotate(337.5deg);
}

.proBox:nth-child(13) img{
    transform: rotate(0deg);
}

.proBox:nth-child(14) img{
    transform: rotate(22.5deg);
}

.proBox:nth-child(15) img{
    transform: rotate(45deg);
}

.proBox:nth-child(16) img{
    transform: rotate(67.5deg);
}

#testresult p{
    position: absolute;
    font-size: calc(100vw * 36 / 1920);
    text-align: center;
    top: 81%;
    left: 39%;
    line-height: 150%;
    z-index: 2;
}

/*나영이 코드*/

/*-------- section s_home -----------*/

#s_home {
    color: #fff;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
#s_home .s_h_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s_h_main {
    width: 100%;
    margin: auto;
}
.s_h_main .s_h_m1 {
    width: calc(100vw * 453/ 1920);
}

.s_h_text {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#dotimg {
    width: calc(100vw * 310/ 1920);
    margin-left: calc(100vw * -337/ 1920);
    margin-bottom: calc(100vw * 80/ 1920);
    z-index: -1;
    position: relative;
}
.shm1 {
    position: relative;
    margin-bottom: -35%;
}
#dotimg2 {
    width: calc(100vw * 310/ 1920);
    margin-left: calc(100vw * -310/ 1920);
    margin-bottom: calc(100vw * -130/ 1920);
    z-index: -1;
    position: relative;
}
.shm2 {
    width: 100%;
    position: relative;
    margin-bottom: -72%;
    margin-left: 10%;
}
#dotimg3 {
    width: calc(100vw * 310/ 1920);
    margin-right: calc(100vw * -350/ 1920);
    margin-bottom: calc(100vw * -40/ 1920);
    z-index: -1;
    position: relative;
}
.shm3 {
    width: 100%;
    position: relative;
    margin-bottom: -45%;
    margin-left: 5%;
}
#dotimg4 {
    width: calc(100vw * 310/ 1920);
    margin-left: calc(100vw * -310/ 1920);
    margin-bottom: calc(100vw * -90/ 1920);
    z-index: -1;
    position: relative;
}
.shm4 {
    width: 100%;
    position: relative;
    margin-bottom: -52%;
    margin-left: 10%;
}
.s_h_text h1 {
    margin-top: 9.5%;
    font-size: calc(100vw * 30/1920);
    font-weight: 600;
    margin-bottom: 2.4%;
    color: #C9C9C9
}
.s_h_text h2 {
    font-size: calc(100vw * 30/1920);
    font-weight: 600;
    margin-bottom: 0.7%;
}
.s_h_text p {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
    margin-bottom: 11.25%;
}




.s_h_main .s_h_main2 {
    position: absolute;
  right: 0;
  text-align: left;
  margin-top: -105%;
  margin-right: 16.3%;
}
/* .s_h_main2 span {
    width: calc(100vw * 150/ 1920);
    border-bottom: 10px dotted #FF1477;
    margin-left: 50%;
    z-index: 2;
} */


.s_h_main2 h1 {
    margin-top: 14%;
    font-size: calc(100vw * 28/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 23/ 1920);
}
.s_h_main2 p {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
}
.s_h_main ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: -20%;
}
.s_h_main ul li {
    width: 13%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;

}
.s_h_main ul li:nth-of-type(1) img {
    width: calc(100vw * 210/ 1920);
}
.s_h_main ul li:nth-of-type(2) img {
    width: calc(100vw * 252/ 1920);
}
.s_h_main ul li:nth-of-type(3) img {
    width: calc(100vw * 210/ 1920);
}

.s_h_main_l {
    position: absolute;
    right: 0;
    margin-right: calc(100vw * 352/ 1920);
    margin-top: -14%;
}
.s_h_main_l h1 {
    font-size: calc(100vw * 28/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 23/ 1920);
}
.s_h_main_l p {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
}

.s_h_main_l2 {
    width: calc(100vw * 615/ 1920);
    
    z-index: 1;
    position: absolute;
    right: 0;
    margin-top: 32%;
    margin-right: calc(100vw * 507/ 1920);
}

.s_h_main .s_h_m2 {
    width: calc(100vw * 408/ 1920);
    height: calc(100vw * 1629.6/ 1920);
    margin-top: -11%;
    margin-bottom: calc(100vw * 145/ 1920);
}
.s_h_main_l3 {
    position: absolute;
    left: 0;
    text-align: right;
    
    margin-top: 25%;
    margin-left: calc(100vw * 342/ 1920);
}
.s_h_main_l3 h1 {
    font-size: calc(100vw * 28/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 23/ 1920);
}
.s_h_main_l3 p {
    font-size: calc(100vw * 20/ 223);
    display: flex;
    text-align: right;
}
.s_h_main_l3 p:first-child {
    font-size: calc(100vw * 28/ 1920);
    font-weight: 600;
    margin-bottom: 2.5%;
}
.s_h_main_l3 p:nth-child(2) {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
}


.s_h_main_l4 {
    position: absolute;
    right: 0;
    text-align: left;
    margin-top: 57%;
    margin-right: calc(100vw * 321/ 1920);
}
.s_h_main_l4 h1 {
    font-size: calc(100vw * 28/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 23/ 1920);
}
.s_h_main_l4 p {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
}


.s_h_m1 {
    opacity: 1;
    transition: opacity 0.8s;
  }
  .s_h_main2 ul li img {
    opacity: 0;
    transition: opacity 10s;
  }

  .bg_gg {
    width: calc(100vw * 486/1920);
    margin-top: -29.35%;
    margin-left: 82%;
    opacity: 0.5;
    overflow: hidden;
  }


  .slide-in {
    animation: slide-in 1s forwards;
    visibility: hidden;
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }

  
  .s_h_main ul li img {
    visibility: hidden;
  }
  .s_h_main ul li:nth-of-type(2) img.slide-in,
  .s_h_main ul li:nth-of-type(1) img.slide-in,
  .s_h_main ul li:nth-of-type(3) img.slide-in {
    visibility: visible;
  }


  .shm2, #dotimg2 {
    visibility: hidden;
  }
  .shm2.slide-in, #dotimg2.slide-in {
    visibility: visible;
  }

  .shm3, #dotimg3 {
    visibility: hidden;
  }
  .shm3.slide-in, #dotimg3.slide-in {
    visibility: visible;
  }
  .shm4, #dotimg4 {
    visibility: hidden;
  }
  .shm4.slide-in, #dotimg4.slide-in {
    visibility: visible;
  }
/*------ 섹션 s_profile -------------------------------------------*/
#s_profile {
    width: 100%;
    height: auto;
    /* display: flex; */
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding-top: calc(100vw * 183/ 1920);
    padding-bottom: calc(100vw * 108/ 1920);
}

.s_p_left {
    text-align: left;
}
.s_p_left1 {
    list-style: none;
    position: absolute;
    left: 0;
    margin-left: calc(100vw * 392/ 1920);
    margin-top: calc(100vw * 74/ 1920);
}

.s_p_left h1 {
    font-size: calc(100vw * 32/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 64/ 1920);
    color: #C9C9C9
}

.s_p_left h2 {
    font-size: calc(100vw * 37.04/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 17/ 1920);
    
}
.s_p_left p {
    font-size: calc(100vw * 24.7/ 1920);
    line-height: 139.5%;
    margin-bottom: calc(100vw * 83/ 1920);
}

.s_p_left1 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.s_p_left1 ul li {
    text-align: center;
    display: flex;
}
.s_p_left1 span {
    display: inline-block; 
    width: calc(100vw * 200/ 1920);
    height: calc(100vw * 256/1920);
}

.s_p_left1 ul li:nth-of-type(1) span {
   background: #FF1477; 
   border-radius: 0 20% 20% 0;
}
.s_p_left1 ul li:nth-of-type(2) span{
   background: #00DB4A;
   border-radius: 20% 0 0 20%;
   margin-left: calc(100vw * -150/ 1920);
}

.s_p_left1 ul li img {
    width: calc(100vw * 577/ 1920);
    position: relative;
    display: inline;
}
.s_p_left1 ul li:last-child img {
    margin-left: calc(100vw * -550/ 1920);
    width: calc(100vw * 527/1920);
    animation: blink 1.2s 1s ease infinite alternate;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.s_p_right {
    position: relative;
    display: inline-flex;
    margin-left: calc(100vw * 1119/ 1920);
}
.s_p_right img {
    position: absolute;
    
    width: calc(100vw * 392/ 1920);
    height: calc(100vw * 789/ 1920);
    z-index: 2; 
}


.bg {
    width: calc(100vw * 2833/ 1920);
    z-index: 0;
    transform: translateX(-52%);
    margin-top: -42%;
    margin-left: 59.05%;
    
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  
  .active {
    opacity: 1;
  }



  /*------ 섹션 s_chatting -------------------------------------------*/

  #s_chatting {
    width: 100%;
    height: auto;
    margin-top: -45%;
    padding-top: calc(100vw * 243/ 1920);
    padding-bottom: calc(100vw * 183/ 1920);
    color: #fff;
    display: flex;
    position: relative;
    z-index: 1;
  }

  #s_chatting li {
    list-style: none;
  }

  .s_chat_left {
    width: 55%;
    margin-left: calc(100vw * 392/ 1920);
  }
  .s_chat_left h2 {
    font-size: calc(100vw * 32/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 57/ 1920);
    color: #C9C9C9
  }
  .s_chat_left h1 {
    font-size: calc(100vw * 48/ 1920);
    line-height: 139.5%;
    font-weight: 600;
    margin-bottom: calc(100vw * 158/ 1920);
  }

  .s_c_l2 li h3 {
    font-size: calc(100vw * 25/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 18/ 1920);
  }
  .s_c_l2 li p {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
    margin-bottom: 7.8%;
  }
  .s_c_l2 li {
    margin-bottom: calc(100vw * 70/ 1920);
  }

  .s_chat_right {
    width: 45%;
    margin-right: calc(100vw * 182/ 1920);
    margin-top: calc(100vw * 101/ 1920);
  }
  .s_chat_right img {
    width: calc(100vw * 388/ 1920);
    height: calc(100vw * 789/ 1920);
  }



/*------ 섹션 s_promise -------------------------------------------*/

#s_promise {
    width: 100%;
    height: auto;
    color: #fff;
    display: flex;
    padding-top: calc(100vw * 183/ 1920);
    padding-bottom: calc(100vw * 186/ 1920);
}

.s_pro_left {
    width: 50%;
    margin-left: calc(100vw * 412/ 1920);
}

.s_pro_left img {
    width: calc(100vw * 446/ 1920);
    height: calc(100vw * 909/ 1920);
    
}

.s_pro_right {
    width: 50%;
    margin-top: calc(100vw * 338/ 1920);
    margin-right: calc(100vw * 127/ 1920);
}

.s_pro_right h1 {
    font-size: calc(100vw * 48/ 1920);
    font-weight: 600;
    line-height: 139.5%;
    margin-bottom: calc(100vw * 57/ 1920);
}

.s_pro_right p {
    font-size: calc(100vw * 20/ 1920);
    line-height: 139.5%;
}



/*------ 섹션 s_fr_cal -------------------------------------------*/

#s_fr_cal {
    width: 100%;
    color: #fff;
    padding-top: calc(100vw * 196/ 1920);
    padding-bottom: calc(100vw * 437/ 1920);
    height: auto;
    
}
.s_fr {
    display: flex;
    flex-direction: column;
}
.s_fr img {
    width: calc(100vw * 447/ 1920);
    height: calc(100vw * 911/ 1920);
    display: flex;
    position: absolute;
    left: 0;
    margin-left: calc(100vw * 402/ 1920);
}

.s_fr ul {
    position: absolute;
    right: 0;
    margin-top: calc(100vw * 289/ 1920);
    margin-right: calc(100vw * 512/ 1920);
}
.s_fr li {
    list-style: none;
}
.s_fr li:first-child {
    font-size: calc(100vw * 32/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 28/ 1920);
    color: #C9C9C9
}
.s_fr li:nth-child(2) {
    font-size: calc(100vw * 36/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 28/ 1920);
}
.s_fr li:nth-child(3) {
    font-size: calc(100vw * 24/ 1920);
    line-height: 139.5%;
}


.s_cal {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: right;

    margin-top: calc(100vw * 673/ 1920);
}

.s_cal img {
    width: calc(100vw * 447/ 1920);
    height: calc(100vw * 911/ 1920);
    
    position: absolute;
    right: 0;
    margin-top: calc(100vw * 300/ 1920);
    margin-right: calc(100vw * 491/ 1920);
}
.s_cal ul {
    margin-right: calc(100vw * 640/ 1920);
    margin-top: calc(100vw * 428/ 1920);
}

.s_cal li {
    list-style: none;
}

.s_cal li:first-child {
    font-size: calc(100vw * 32/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 27/ 1920);
    color: #C9C9C9
}
.s_cal li:nth-child(2) {
    font-size: calc(100vw * 36/ 1920);
    font-weight: 600;
    margin-bottom: calc(100vw * 24/ 1920);
    line-height: 139.5%;
}
.s_cal li:nth-child(3) {
    font-size: calc(100vw * 24/ 1920);
    line-height: 139.5%;
}

.s_middle_t {
    margin-right: calc(100vw * 238/ 1920);
    margin-top: calc(100vw * 791/ 1920);
    position: absolute;
    right: 0;
}

.s_middle_t p {
    font-size: calc(100vw * 18/ 1920);
    font-weight: 600;
    line-height: 139.5%;
}

.s_middle_t img {
    width: calc(100vw * 121.67/ 1920);
    margin-bottom: calc(100vw * 28/ 1920);
}

/*------ 섹션 s_fr_cal -------------------------------------------*/


/*나영이 코드 끝*/

#logo{
    display: flex;
    justify-content: space-between;
    margin-top: 16%;
    padding: 11.8% 10% 11.5% 10%;
    width: 80%;
    height: auto;
}
#logo h3{
    margin-bottom: 8%;
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#logo p{
    margin-bottom: 32%;
    font-size: calc(100vw * 20 / 1920);
    line-height: 150%;
}
#logo>img{
    width: 45%;
}
#logotext{
    width: 32%;
}
#logotext img{
    width: 95%;
}

#logoimage{
    position: relative;
}
#logoimage>img{
    width: calc(100vw * 650 / 1920);
    height: calc(100vw * 484 / 1920);

    animation: logogrid 5s ease infinite ;

    z-index: 1;
}
@keyframes logogrid {
    0% { opacity: 0; }
    50% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }


#logo-s img{
    position: absolute;
    top: 49.6%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: calc(100vw * 138 / 1920);
    height: calc(100vw * 283 / 1920);

    z-index: -1;
}

#logo-s img:nth-child(1){
    animation: moveToLeft 5s ease infinite ;
  }
  
  #logo-s img:nth-child(3){
    animation: moveToRight 5s ease infinite ;
  }

  @keyframes moveToLeft {
    0% { top:49.6%; left: 49%; }
    5% { top:49.6%; left: 49%; }
    25% { top:49.6%; left: 49%; }
    50% { top:49.6%; left: 29%; }
    90% { top:49.6%; left: 29%; }
    100% { top:49.6%; left: 49%; }
  }
  
  @keyframes moveToRight {
    0% { top:49.6%; left: 49%; }
    5% { top:49.6%; left: 49%; }
    25% { top:49.6%; left: 49%; }
    50% { top:49.6%; left: 69.7%; }
    90% { top:49.6%; left: 69.7%; }
    100% { top:49.6%; left: 49%; }
  }


  #color{
    padding-top: 9.1%;
    width: 100%;
    height: auto;
}
#color>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.6%;
    padding: 0 10%;
    width: 80%;
}
#color >div h3{
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#color div p{
    font-size: calc(100vw * 18 / 1920);
    line-height: 150%;
}
.pink{
    color: #FF1477;
}
.green{
    color: #00DB4A;
}
#color article{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#color article div {
    padding: 2.1% 3.6%;
    animation: slideIn 1s forwards;
    animation-play-state: paused;
  }
  
  #color article div:nth-child(1) {
    animation-delay: 0s;
  }
  
  #color article div:nth-child(2) {
    animation-delay: 0.8s;
  }
  
  #color article div:nth-child(3) {
    animation-delay: 1.6s;
  }
  
  #color article div:nth-child(4) {
    animation-delay: 2.4s;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
#color article div:nth-child(1){
    width: 37.8%;
    background: #FF1477;
    z-index: 4;
}
#color article div:nth-child(2){
    width: 27.4%;
    background: #00DB4A;
    z-index: 3;
}
#color article div:nth-child(3){
    width: 21.8%;
    background: #101010;
    z-index: 2;
}
#color article div:nth-child(4){
    width: 13%;
    color: #000;
    background: #fff;
    z-index: 1;
}
#color article div h3{
    font-size: calc(100vw * 32 / 1920);
}
#color article div p{
    font-size: calc(100vw * 20 / 1920);
    margin-bottom: 30%;
}
#color article div h2{
    font-size: calc(100vw * 32 / 1920);
}
#color article div:nth-child(2) h3{
    margin-bottom: 0.7%;
}
#color article div:nth-child(2) p{
    margin-bottom: 41%;
}

/* CSS */
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  #color article div {
    position: relative;
    opacity: 0;
    animation: slideIn 1s forwards;
  }

  /*----------font-------------*/

#font{
    display: flex;
    justify-content: space-between;
    margin-top: 7.6%;
    padding: 0 10% 10.9% 10%;
    width: 80%;
    height: auto;
}
#font h3{
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#font>div{
    margin-left: 3%;
    width: 55%;
}
#font>div>p{
    margin-top: 0.5%;
    font-size: calc(100vw * 24 / 1920);
}
#font>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.9%;
    width: 100%;
}
#bfont .bold{
    font-size: calc(100vw * 29.5 / 1920);
}
#sbfont .sbold{
    font-size: calc(100vw * 29 / 1920);
}
#mfont p:nth-child(1){
    font-size: calc(100vw * 28.5 / 1920);
}
#lfont .light{
    font-size: calc(100vw * 28 / 1920);
}
#font>div>div p:nth-child(1){
    width: 40%;
}
#font span{
    margin: 0 2%;
    width: 45%;
    height: 1%;
    border: solid calc(100vw * 0.5 / 1920) #515151;
}
#font>div>div p:nth-child(3){
    width: 15%;
    font-size: calc(100vw * 20 / 1920);
}


#icon{
    padding-top: 10.9%;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#icontext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.5%;
    padding: 0 10%;
    width: 80%;
}
#icontext h3{
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#icontext p{
    font-size: calc(100vw * 18 / 1920);
    line-height: 150%;
}
#navicon{
    margin-bottom: 5.7%;
    padding: 3.5% 0;
    width: 100%;
    text-align: center;
    background: #242424;
}
#navicon img{
    width: 57.8%;
}
.foodicon{
    width: 390%;
    display: flex;
    overflow-x: hidden;
}
.foodicon img{
    margin-left: calc(100vw * 100 / 1920);
    width: 195%;
    height: 5%;

}
#left{
    animation: rollingl 20s infinite linear;
    margin-bottom: 4%;
}
#right{
    animation: rollingr 20s infinite linear;
}
@keyframes rollingl {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@keyframes rollingr {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

#character{
    position: relative;
    margin-bottom: calc(100vw * 250 / 1920);
    width: 100%;
    height: auto;
    background-image: url(./img/characterbg.png);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}
#character>p{
    padding: 6.6% 10% 47.1% 10%;
    width: 80%;
    color: #C9C9C9;
    font-size: calc(100vw * 32 / 1920);
}
#characterimg{
    overflow: hidden;
}
#characterimg img{
    position: absolute;
    transition: all 1s ease;
    opacity: 0;
}

#bb{
    top: 10%;
    right: 39.7%;
    width: 15.35%;
}
#pp{
    top: 28.3%;
    left: 20%;
    width: 10.18%;
}
#gg{
    width: 14.2%;
    bottom: 10%;
    left: 38.85%;
}
#yy{
    width: 10.15%;
    top: 51.7%;
    right: 20%;
}
/* #charactertext{
    position: absolute;
} */

#mockup{
    width: 100%;
    height: auto;
    background: #FF1477;
}
#mockup img{
    width: 100%;
    height: 100%;
}

footer{
    padding: 3% 4.7% 3.5% 8.3%;
    height: auto;
    background: #FF1477;
}
footer img{
    width: calc(100vw * 191 / 1920);
    margin-bottom: 1.5%;
}
footer h3{
    font-size: calc(100vw * 24 / 1920);
}
footer p{
    font-size: calc(100vw * 20 / 1920);
}
footer ul{
}
footer li{
    display: inline-block;
    margin-left: 3%;
    float: right;
}
footer li h3{
    margin-bottom: 15%;
}
footer li p{
    margin-bottom: 5%;
}
footer span{
    display: block;
    margin-top: 15%;
    width: 100%;
    height: 1%;
    border-top: calc(100vw * 1 / 1920) solid #fff;
}
footer>p{
    margin-top: 1.5%;
}